<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-centre-heading" data-cy="CentreCreateUpdateHeading">Create or edit a Centre</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_centreName">Centre Name</label>
          <input
            type="text"
            class="form-control"
            name="centreName"
            id="field_centreName"
            data-cy="centreName"
            formControlName="centreName"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_centreChief">Centre Chief</label>
          <input
            type="text"
            class="form-control"
            name="centreChief"
            id="field_centreChief"
            data-cy="centreChief"
            formControlName="centreChief"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_arrondissement">Arrondissement</label>
          <select
            class="form-control"
            id="field_arrondissement"
            data-cy="arrondissement"
            name="arrondissement"
            formControlName="arrondissement"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                arrondissementOption.id === editForm.get('arrondissement')!.value?.id
                  ? editForm.get('arrondissement')!.value
                  : arrondissementOption
              "
              *ngFor="let arrondissementOption of arrondissementsSharedCollection; trackBy: trackArrondissementById"
            >
              {{ arrondissementOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
